<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" ></ion-tab>
</ion-tabs>
