<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Number</ion-label>
      <ion-input type="text" [(ngModel)]="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input type="text" [(ngModel)]="location"></ion-input>
    </ion-item>
    <br>  

    <ion-item>
      <ion-label>Blood Group</ion-label>
      <ion-select [(ngModel)]="bloodGroup">
        <ion-option value="A+">A+</ion-option>
        <ion-option value="A-">A-</ion-option>
        <ion-option value="B+">B+</ion-option>
        <ion-option value="B-">B-</ion-option>
        <ion-option value="O+">O+</ion-option>
        <ion-option value="O-">O-</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Retype Password</ion-label>
      <ion-input type="password" [(ngModel)]="reTypePassword"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onClickSignup()">Sign Up</button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary" block (click)="onClickLogin()">Sign In</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
