<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="onClickProfile()">
      Profile
    </a>
    <a ion-item (click)="onClickAboutUs()">
      About Us
    </a>
    <a ion-item (click)="onClickLogout()">
      Logout
    </a>
  </ion-list>

</ion-content>
